---
layout: default
---
{% if paginator.page == 1 %}
<section class="hero">
  <div class="container">
    <h2 class="logo">
        Hi, I'm Noga. I'm a digital designer that likes to get crafty.
    </h2>
  </div>
</section>
{% endif %}

<section class="projects">
  <div class="content">
    {% if paginator.page > 1 %}
      <div class="pagination">
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="btn text prev">Older projects</a>{% endif %}
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="btn text next">Newer projects</a>{% endif %}
      </div>
    {% endif %}
    {% for post in paginator.posts %}
    <a href="{% if post.link_only %}{{ post.link }}{% else %}{{ post.url | preprend: site.baseurl }}{% endif %}">
      {% assign color = post.categories[0] %}{% assign color = site.tag_colors[color] %}
      {% if post.color %}{% assign color = post.color %}{% endif %}
      <div class="project">
        <div class="tags">{{ post.tags  | join: ", " }}</div>
        <h3 class="title">{{ post.title }}</h3>
        {% if post.headline %}<div class="desc">{{ post.headline }}</div>{% endif %}
      </div>
    </a>
    {% endfor %}
    <div class="pagination">
      {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="btn text prev">Older projects</a>{% endif %}
      {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="btn text next">Newer projects</a>{% endif %}
    </div>
  </div>
</section>
