<div id="menu" class="menu">
 <!-- Mobile Menu -->
  <nav>
    <ul class="menu-links">
      <li><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
      {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
<header>
  <div id="toggle" class="menu-link"><a href="javascript:void(0)"><span></span></a></div>
  <!-- Desktop Menu -->
  <div class="menu">
   <nav>
      <ul class="menu-links">
        <li><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
   </nav>
  </div>
  {% include social.html %}
</header>
