// colors
$light-gray: #eee;
$dark-gray: #221e1f;
$gray: lighten($dark-gray, 15);

$primary: red;
$red: #E74C3C;
$blue: #76FF96;
$green: #76FF96;
//$yellow: #F39C12;
//$purple: #9B59B6;
//$silver: #95A5A6;
//$turquoise: #1ABC9C;

// fonts
$base-font: 'Graphik', sans-serif;
$body-font: $base-font;
$header-font: $base-font;
